.content {
    position: relative;
    right: 60px;
    top: 30px;
    margin: 0px 0px;
    overflow: hidden;
    background-color: red;
    color: #333;
    padding: 8px 16px;
    transform: rotate(-45deg);
    width:200px;
    padding:  10px 10px;
    display: flex;
    justify-content: center;
    
    
  }

  .corner-ribbon{
    right: 25px;
    
    
  }
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
  } */
  
  
  